:root {
	--color1: rgb(219,176,135);
	--color2: rgb(233,212,193);
	--color3: rgb(0,0,0);
	--color4: rgb(255,255,255);
	--color5: rgb(107,61,16);
}
/*Header*/
.header {
	background: var(--color4);
	width: 100%;
	height: 8.9vh;
	position: fixed;
	top: 0;
	z-index: 50;
}

.header__flexContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
}
.header__flexContainer-logo {
	object-fit: contain;
	color: var(--color3);
	width: calc(50% - 20px);
	height: 100%;
	margin: 0;
}
.header__flexContainer-iconsContainer {
	width: 22%;
	height: 100%;
	display: flex;
	align-items: center;
}
.header__flexContainer-iconsContainer-icon {
	object-fit: contain;
	color: var(--color3);
	width: 40%;
	height: 65%;
	margin: auto;
}
/*Hero*/
.hero {
	width: 100vw;
	height: 100vh;
	position: relative;
}
.hero__img {
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}
.hero__offer {
	position: absolute;
	bottom: 3%;
	background: var(--color3);
	right: 0;
	width: 90%;
	height: 40%;
	padding: 45px;
	box-sizing: border-box;
}
.hero__offer-highlight, .hero__offer-description {
	font-family: 'Karla';
}
.hero__offer-highlight, .hero__offer-title, .hero__offer-description, .hero__offer-seeMore {
	color: var(--color4);
	width: 100%;
} 
.hero__offer-description {
	font-size: 3em;
	margin: 0;
	font-family: 'Karla';
}
.hero__offer-seeMore{
	position: relative;
	bottom: 0!important;
	left: 0;
	font-family: 'Karla';
	font-size: 2.8em;
	text-decoration: underline;
	margin-bottom: 0;
}
.hero__offer-title {
	font-size: 4em;
	font-family: 'Lora';
	margin: 25px 0;
}
.hero__offer-highlight {
	margin-top: 0;
	font-size: 2.7em;
	font-family: 'Karla';
}
/*Products*/
.products {
	width: 100vw;
	padding: 20px;
	background: var(--color4);
	box-sizing: border-box;
	position: relative;
}
.products__modalButton {
	background: rgb(255, 138, 91);
	position: sticky;
	top: 10%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	left: 85%;	
	display: flex;
	box-shadow: 2px 2px 12px 1px #000000;
	z-index: 40;
}
.products__modalButton-img {
	width: 50%;
	height: 46%;
	object-fit: contain;
	margin: auto;
}
.products__title {
	width: 100%;
	color: var(--color3);
	margin: 0;
	padding: 0 45px;
	box-sizing: border-box;
	margin-top: 40px;
	font-family: 'Lora';
	font-size: 4em;
	position: relative;
	top: 0;
}
.products__grid {
	width: 100%;
	position: relative;
	top: -40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.products__grid-item {
	margin: auto;
	margin-bottom: 30px;
    width: 45%;
    height: 29vh;
    position: relative;
    font-family: 'Karla';
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.49);
}
.products__grid-item-img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: center;
}
.products__grid-item-description {
	width: 100%;
    margin: 0;
    margin-top: 25px;
    color: var(--color3);
    font-size: 2.3em;
    text-align: center;
    border-top: 2px solid rgba(100,100,100,0.2);
    padding-top: 5px;
}
.products__grid-item-price {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--color3);
    text-align: center;
    margin: 0;
    font-size: 2.9em;
}
.bestseller {
	box-sizing: border-box;
    position: absolute;
    color: var(--color4);
    top: 4%;
    font-size: 1.5em;
    text-align: center;
    right: 5%;
    height: 20%;
    border-radius: 50%;
    display: flex;
    width: 25%;
    background: var(--color3);
}
.bestseller__content {
	margin: auto;
}
/*Newsletter*/
.newsletter {
	width: 100vw;
	height: 47vh;
	padding: 2.82vh 4.59vw 2.12vh 4.59vw;
	background: rgb(219,176,135);
	box-sizing: border-box;
}
.newsletter__title {
	color: var(--color3)!important;
	margin-bottom: 30px;
	font-size: 6em;
	font-family: 'Lora';
	height: 33%;
}
.newsletter__label {
	color: var(--color5);
	font-size: 2.5em;
	font-family: 'Karla';
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
}
.newsletter__mail{
	outline: none;
	border: none;
	color: var(--color5);
	height: 20%;
	padding-top: 15px;
	font-size: 3em;
	background: var(--color2);
}
.newsletter__submit {
	background: var(--color3);
	height: 20%;
	padding-top: 15px;
	font-size: 3em;
	color: var(--color4);
}
.newsletter__submit:hover {
	background: rgb(10, 10, 10);
}
.newsletter__mail::placeholder {
	color: var(--color5);
	font-size: 1em;
	font-weight: bold;
}
.newsletter__mail, .newsletter__submit, .newsletter__label, .newsletter__title, .newsletter__mail::placeholder {
	width: 100%;
	text-align: center;
}
/*Footer*/
.footer__copyright, .footer__info, .footer__socialMedia-link, .footer__socialMedia, .footer__img {
	text-align: center;
	color: var(--color3);
	margin-bottom: 20px;
}
.footer {
	background: var(--color3);
	width: 100vw;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.footer__info {
	width: calc(50% - 30px);
	height: calc((100vh - 30px - 10px)/10*3);
	margin-bottom: 10px;
	margin: auto;
	font-size: 2.7em;
	font-family: 'Karla';
	color: var(--color4);
	line-height: 80px;
}
.footer__img{
	width: 50%;
	height: calc((100vh - 30px - 10px)/10*2);
	object-fit: contain;
	margin: auto;
	object-position: center;
	color: var(--color4);
}
.footer__socialMedia {
	width: 100%;
	height: calc((100vh - 30px - 10px)/15);
	justify-content: center;
	display: flex;
}
.footer__socialMedia-link {
	width: 10%;
	text-align: center;
	margin: 0;
	font-size: 3em;
	font-family: 'Karla';
	color: var(--color4);
	text-decoration: none;
}
.footer__copyright {
	width: 100%;
	height: calc((100vh - 30px - 10px)/15);
	border-top: 5px solid rgb(190, 190, 190);
	font-size: 3.2em;
	padding-top: 35px;
	box-sizing: border-box;
	font-family: 'Karla';
	color: var(--color4);
}
/*Modal*/
.modalOverlay {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0,.3);
	display: flex;
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
}
.modal {
	padding: 2.12vh 4.59vw;
	box-sizing: border-box;
	background: var(--color4);
	width: 90%;
	height: 90%;
	margin: auto;
}
.modal__head {
	width: 100%;
	height: 24%;
	display: grid;
	margin-bottom: 30px;
	grid-template-columns: 85% 15%;
	grid-template-rows: 25% 75%;
}
.modal__head-highlight {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	font-size: 2.7em;
	font-family: 'Karla';t
}
.modal__head-title {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 6em;
	font-size: 'Lora';
}
.modal__head-highlight, .modal__head-title {
	width: 100%;
	margin: auto 0;
	color: var(--color3);
}
.modal__head-closeButton {
	color: var(--color3);
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	object-fit: contain;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.modal__head-closeButton-icon {
	height: 100%;
	width: 100%;
}
.modal__content {
	height: calc(63% - 10px);
	overflow-y: auto;
	width: 100%;
	color: var(--color3);
	font-size: 3.7em;
	font-family: 'Karla';
	margin: 0;
}
.modal__proceedButton {
	background: var(--color3);
	color: var(--color4);
	margin: 2.12vh 0 0 2.295vw;
}
.modal__cancelButton {
	background: var(--color4);
	color: var(--color3);
	margin: 2.12vh 2.295vw 0 0;
}
.modal__cancelButton,.modal__proceedButton {
	height: 8%;
	width: 46.5%;
	border: none;
	box-sizing: border-box;
	text-align: center;
	font-size: 3em;
}
.toggle {
	display: none;
}